<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danh sach</title>
</head>
<body>
    <h1>Đây là trang danh sách</h1>
    <a href="/create">Thêm mới</a>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Image</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <!-- forEach -->
            <!-- <% pros.forEach((p) => { %>
                <tr>
                    <td><%= p.id %></td>
                    <td><%= p.name %></td>
                    <td><%= p.price %></td>
                    <td><img src="<%=p.images%>" alt=""></td>
                </tr>
            <% }) %> -->
            <!-- for -->
            <% for(let p of pros) { %>
                <tr>
                    <td><%= p.id %></td>
                    <td><%= p.name %></td>
                    <td><%= p.price %></td>
                    <td><img style="height: 100px;" src="images/<%=p.image%>" alt=""></td>
                    <td>
                        <a href="/edit/<%=p.id%>">Edit</a>
                        <a onclick="return confirm('Are you sure?')" href="/delete/<%=p.id%>">Delete</a>
                    </td>
                </tr>
            <% } %>
        </tbody>
    </table>
</body>
</html>